<div class="offer-details-container">
  <div class="offer-header">
    <h1>{{ offer?.Title }}</h1>
    <div class="offer-company">
      <strong>Compania:</strong> {{ offer?.Company_Name }}
    </div>
  </div>

  <div class="offer-carousel-container">
    <div class="carousel">
      <div class="carousel-inner">
        <div *ngFor="let image of images; let i = index" class="carousel-item" [class.active]="i === currentIndex">
          <img [src]="image" alt="Offer Image {{ i + 1 }}">
        </div>
      </div>
      <a class="carousel-control prev" (click)="prevSlide()">&#10094;</a>
      <a class="carousel-control next" (click)="nextSlide()">&#10095;</a>
    </div>
  </div>

  <div class="offer-content">
    <div class="offer-info">
      <div><strong>Persoana de contact:</strong> {{ offer?.Contact_Name }}</div>
      <div><strong>Numar de telefon:</strong> {{ offer?.Phone_Number | phoneNumber}}</div>
      <div><strong>Adresa de Email:</strong> {{ offer?.Email }}</div>
      <div><strong>Pagina Web:</strong> <a [href]="offer?.Website" target="_blank">{{ offer?.Website }}</a></div>
      <div><strong>Facebook:</strong> <span [innerHTML]="offer?.Facebook | urlHelper"></span> </div>
      <div><strong>Instagram:</strong> <span [innerHTML]="offer?.Instagram | instagramHandle"></span></div>
      <div><strong>Locatie:</strong> {{ offer?.Location }}</div>
      <div><strong>Tip de oferta:</strong> {{ offer?.OfferType }}</div>
    </div>
    <div class="offer-description">
      <strong>Detalii:</strong> {{ offer?.Description }}
    </div>
    <div class="offer-hours">
      <strong>Ore:</strong>
      <ul>
        <!-- <li *ngFor="let day of Object.keys(offer?.Hours || {})">
          {{ day }}: {{ offer?.Hours[day]?.open }} - {{ offer?.Hours[day]?.close }}
        </li> -->
      </ul>
    </div>
    <div class="offer-sponsor">
      <strong>Sponsor:</strong> {{ offer?.Community_Sponsor ? 'Yes' : 'No' }}
    </div>
    <div *ngIf="(isLoggedIn$ | async)"  class="offer-dates">
      <strong>Creata pe data de:</strong> {{ offer?.Date_Created | date: 'shortDate' }}<br>
      <strong>Modificata pe data de:</strong> {{ offer?.Date_Updated | date: 'shortDate' }}
    </div>
    <button class="return-button" (click)="goBack()">Inapoi la Oferte</button>
  </div>
</div>
