.hero-section {
  position: relative;
  height: 30vh;
  /* background-image: url('http://source.unsplash.com/800x600/?Seattle'); */
  background-image: url(../../../assets/images/Services.png);
  background-size: cover;
  background-position: 0 35%;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  /* border: solid 4px red; */
}

.overlay_subtitle {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: solid 4px green; */
}

.hero-overlay h1 {
  color: white;
  font-size: 5rem;
  text-align: center;
}
.overlay_subtitle h2 {
  color: white;
  font-size: 2rem;
  text-align: center;
}




.section-header {
  text-align: center;
  padding: 40px 20px;
  background-color: #f0f0f0;
}

.section-header h2 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 10px;
}

.section-header p {
  font-size: 1.2rem;
  color: #666;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 20px;
}

.service-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 40px;
  width: calc(25% - 32px);
  box-sizing: border-box;
  position: relative;
  min-width: 400px;
}

.card-header {
  text-align: center;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.card-subtitle {
  font-size: 1rem;
  color: #666;
  margin-top: 4px;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: gold;
}

.services-filter {
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 30px;
 padding: 30px;
}

.services-filter label {
  margin-right: 10px;
}

.services-filter select {
  padding: 5px;
  font-size: 1rem;
}


.sponsor-icon {
  font-size: 1.5rem;
  margin-right: 4px;
}

.sponsor-text {
  font-size: 1rem;
  color: gold;
}


.add-service-container {
  text-align: right;
  margin: 20px;
}


/* Responsive layout for smaller screens */
