
<div class="hero-section">
  <div class="hero-overlay">
    <h1>Lista de Servicii</h1>
  </div>
  <div class="overlay_subtitle">
    <h2>Adaugati serviciile oferite pentru membrii comunității</h2>
  </div>
</div>

<div class="form-container">
  <form [formGroup]="serviceForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="Name">Nume:</label>
      <input id="Name" formControlName="Name" required>
    </div>

    <div class="form-group">
      <label for="Email">Adresa Email:</label>
      <input id="Email" type="Email" formControlName="Email">
    </div>

    <div class="form-group">
      <label for="Phone_Number">Numar de telefon:</label>
      <input id="Phone_Number" formControlName="Phone_Number">
    </div>

    <div class="form-group">
      <label for="Website">Pagina Web:</label>
      <input id="Website" formControlName="Website" >
    </div>

    <div class="form-group">
      <label for="Description">Descriere a serviciile oferite:</label>
      <textarea id="Description" formControlName="Description" ></textarea>
    </div>

    <div class="form-group">
      <label for="Service_Type">Categoria de serviciului:</label>
      <select id="Service_Type" formControlName="Service_Type" required>
        <option *ngFor="let type of serviceTypes" [value]="type">{{ type }}</option>
      </select>
    </div>

    <button type="submit" [disabled]="serviceForm.invalid">Salvati Serviciu</button>
  </form>
</div>
