
.admin-container {
  padding-top: 50rem;
  width: 80%;
  margin: 0 auto;

  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 8px;
  overflow: hidden;
}
.header-container{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}



header h1 {
  margin: 0;
  font-size: 24px;
}

.nav-pills {
  margin: 0;
  padding: 0;
  /* background: #007bff; */
}

.nav-pills ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  /* background: #007bff; */
}

.nav-pills ul li {
  margin: 0 5px;
}

.nav-pills ul li a {
  display: block;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  color: #fff;
  background: #007bff;
  transition: background-color 0.3s, color 0.3s;
}

.nav-pills ul li a:hover,
.nav-pills ul li a.active {
  background-color: #0056b3;
  color: #fff;
}

main {
  padding: 20px;
  background: #fff;
}

main h2 {
  margin-top: 0;
}
