
<div>
  <div class="header-container">
  <nav class="nav-pills">
    <div class="title-container"> <h2>Admin Pannel</h2></div>
    <ul>
      <li><a routerLink="analytics">Analytics</a></li>
      <li><a routerLink="service-manager">Service Manager</a></li>
      <li><a routerLink="offer-management">Offers Manager</a></li>
      <li><a routerLink="event-management">Event Manager</a></li>
      <li><button (click)="logout()">Logout</button></li>
    </ul>
  </nav>
  </div>
  <router-outlet></router-outlet>
</div>

