<div class="form-container">
  <form  #offerForm="ngForm" (ngSubmit)="onSubmit(offerForm)">
    <div class="form-group">
      <label class="required" for="Title">Offer Title:</label>
      <input type="text" [(ngModel)]="offer.Title" name="Title" required placeholder="Title">
    </div>

    <div class="form-group">
      <label for="Company_Name">Numele Companiei:</label>
      <input type="text" [(ngModel)]="offer.Company_Name" name="Company_Name" required placeholder="Company Name">
    </div>

    <div class="form-group">
      <label class="required" for="Contact_Name">Numele persoanei de contact:</label>
      <input type="text" [(ngModel)]="offer.Contact_Name" name="Contact_Name" required placeholder="Contact Name">
    </div>

    <div class="form-group">
      <label class="required" for="Phone_Number">Numar de telfon:</label>
      <input type="text" [(ngModel)]="offer.Phone_Number" name="Phone_Number" required placeholder="Phone Number">
    </div>

    <div class="form-group">
      <label for="Email">Adresa de Email:</label>
      <input type="email" [(ngModel)]="offer.Email" name="Email" required placeholder="Email">
    </div>
    <div class="form-group">
      <label class="required" for="Description">Descriiere:</label>
      <textarea [(ngModel)]="offer.Description" name="Description" required placeholder="Description"></textarea>
    </div>
    <div class="form-group">
      <label for="Price">Pret:</label>
      <input type="text" [(ngModel)]="offer.Price" name="Price" required placeholder="Price">
    </div>
    <div class="form-group">
      <label class="required" for="Location">Locatie:</label>
      <input type="text" [(ngModel)]="offer.Location" name="Location" required placeholder="Location">
    </div>
    <div class="form-group">
      <label for="Website">Website:</label>
      <input type="url" [(ngModel)]="offer.Website" name="Website" placeholder="Website">
    </div>
    <div class="form-group">
      <label for="OfferType">Tip de oferta</label>
      <select id="OfferType" [(ngModel)]="offer.OfferType" name="OfferType" required class="form-control">
        <option *ngFor="let type of offerTypes" [value]="type">{{ type }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="Images">Images</label>
      <input type="file" id="Images" (change)="onFileSelected($event)" multiple accept="image/*" class="form-control">
    </div>

    <button type="submit" >Adauga Oferta</button>
  </form>
</div>
