<div class="form-container">
  <form [formGroup]="offerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label class="required" for="Title">Offer Title:</label>
      <input id="Title" formControlName="Title" required>
    </div>

    <div class="form-group">
      <label for="Company_Name">Company Name:</label>
      <input id="Company_Name" formControlName="Company_Name" >
    </div>

    <div class="form-group">
      <label class="required" for="Contact_Name">Contact Name:</label>
      <input id="Contact_Name" formControlName="Contact_Name" required>
    </div>

    <div class="form-group">
      <label class="required" for="Phone_Number">Phone Number:</label>
      <input id="Phone_Number" formControlName="Phone_Number" required>
    </div>

    <div class="form-group">
      <label for="Email">Contact Email:</label>
      <input id="Email" type="email" formControlName="Email" >
    </div>
    <div class="form-group">
      <label class="required" for="Description">Description:</label>
      <textarea id="Description" formControlName="Description" required></textarea>
    </div>
    <div class="form-group">
      <label for="Image1">Image1:</label>
      <textarea id="Image1" formControlName="Image1" ></textarea>
    </div>
    <div class="form-group">
      <label for="Image2">Image2:</label>
      <textarea id="Image2" formControlName="Image2" ></textarea>
    </div>
    <div class="form-group">
      <label for="Image3">Image3:</label>
      <textarea id="Image3" formControlName="Image3" ></textarea>
    </div>
    <div class="form-group">
      <label for="Image4">Image4:</label>
      <textarea id="Image4" formControlName="Image4" ></textarea>
    </div>
    <div class="form-group">
      <label for="Image5">Image5:</label>
      <textarea id="Image5" formControlName="Image5" ></textarea>
    </div>
    <div class="form-group">
      <label class="required" for="Location">Location:</label>
      <input id="Location" formControlName="Location" required>
    </div>
    <div class="form-group">
      <label for="Website">Website:</label>
      <input id="Website" formControlName="Website" >
    </div>
    <div class="form-group">
      <label class="required" for="OfferType">Categoria de serviciului:</label>
      <select id="offerTypes" formControlName="offerTypes" required>
        <option *ngFor="let type of offerTypes" [value]="type">{{ type }}</option>
      </select>
    </div>

    <button type="submit" [disabled]="offerForm.invalid">Adauga Oferta</button>
  </form>
</div>
