<div class="admin-container">
  <div class="search-container">
    <input type="text" placeholder="Search..." [(ngModel)]="searchText" (input)="filterServices()" />
  </div>
  <h2>Manage Services</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Image</th>
        <th>Name</th>
        <th>Service Type</th>
        <th>Contact</th>
        <th>Description</th>
        <th>Hours</th>
        <th>Online Presence</th>
        <th>Sponsor</th>
        <th>Date Created</th>
        <th>Approved</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let service of filteredServices">
        <td><a href="/services/{{service.id}}">{{service.id}}</a></td>
        <td><img class="service-card-image" src='{{service.Image}}'/></td>
        <td>{{ service.Name }}</td>
        <td>{{ service.Service_Type }}</td>
        <td>{{ service.Phone_Number }} <br /><div *ngIf="service.Email"><a href='mailto:{{service.Email }}'>{{ service.Email }}</a></div></td>
        <td>{{ service.Description }}</td>
        <td>
<div  *ngIf="service.Hours" style="font-size: small; min-width: 150px">
            Mon:{{ service.Hours.Luni?.open }} - {{ service.Hours.Luni?.close }}<br>
            Tue:{{ service.Hours.Marti?.open }} - {{ service.Hours.Marti?.close }}<br>
            Wed:{{ service.Hours.Miercuri?.open }} - {{ service.Hours.Miercuri?.close }}<br>
            Thur:{{ service.Hours.Joi?.open }} - {{ service.Hours.Joi?.close }}<br>
            Fri:{{ service.Hours.Vineri?.open }} - {{ service.Hours.Vineri?.close }}<br>
            Sat:{{ service.Hours.Sambata?.open }} - {{ service.Hours.Sambata?.close }}<br>
            Sun:{{ service.Hours.Duminica?.open }} - {{ service.Hours.Duminica?.close }}<br>
</div>
        </td>
        <td>{{ service.Website }}<br/> {{ service.Facebook }}<br/>{{ service.Instagram }}</td>
        <td>
          <input type="checkbox" [checked]="service.Community_Sponsor" (change)="toggleSponsor(service)" />
        <td>{{ service.Date_Created | date: 'dd/MM/yyyy'}}
          <br/>
          {{ service.Date_Updated | date: 'dd/MM/yyyy'}}
        </td>
        <td>
          <input type="checkbox" [checked]="service.Approved" (change)="toggleApproval(service)" />
        </td>
        <!-- <td><a href="#"  (click)="navigateToEditService(service.id)">Edit</a></td> -->
         <td><button class="editButton"  (click)="navigateToEditService(service.id)">Edit</button></td>
         <td><button class="editButton"  (click)="deleteService(service.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <div class="update-services-container">
  <button (click)="updateDateCreated()">Update All Entries with Current Date</button>
</div> -->
