<div class="admin-container">
  <h2>Manage Services</h2>
  <table>
    <thead>
      <tr><th>Image</th>
        <th>Name</th>
        <th>Service Type</th>
        <th>Contact</th>
        <th>Description</th>
        <th>Online Presence</th>
        <th>Community Sponsor</th>
        <th>Date Created</th>
        <th>Approved</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let service of services">
        <td><img class="service-card-image" src='{{service.Image}}'/></td>
        <td>{{ service.Name }}</td>
        <td>{{ service.Service_Type }}</td>
        <td>{{ service.Phone_Number }} <br />{{ service.Email }}</td>
        <td>{{ service.Description }}</td>
        <td>{{ service.Website }}<br/> {{ service.Facebook }}<br/>{{ service.Instagram }}</td>
        <td>{{ service.Community_Sponsor }}</td>
        <td>{{ service.Date_Created }}</td>
        <td>
          <input type="checkbox" [checked]="service.Approved" (change)="toggleApproval(service)" />
        </td>
        <td><a href="#"  (click)="navigateToEditService(service.id)">Edit</a></td>
      </tr>
    </tbody>
  </table>
</div>

<!-- <div class="update-services-container">
  <button (click)="updateDateCreated()">Update All Entries with Current Date</button>
</div> -->
