<div class="hero-section">
  <div class="hero-overlay">
    <h1>Lista de Servicii</h1>
  </div>
  <div class="overlay_subtitle">
    <h2>Descoperiți serviciile oferite de membrii comunității</h2>
  </div>
</div>
<div class="services-control">
  <div class='service-control-container'>
    <label for="service-type">Filtrați lista după tipul serviciului: </label>
  </div>
  <div class='service-control-container'>
  <select id="service-type" (change)="onFilterChange(this.handleChange($event))" class="filter-dropdown" [(ngModel)]="selectedServiceTypeId">
    <option value="">Toate serviciile</option>
    <option *ngFor="let type of serviceTypes" [value]="type.id">{{ type.Name }}</option>
  </select>
</div>
  <div class="service-control-container">
    <button style="min-width: 150px;" (click)="navigateToAddService()">Adaugati un Serviciu</button>
  </div>
  <button (click)="shareLink()" class="share-button">
    <i class="fas fa-share-alt"></i> Share
  </button>
</div>


<div class="services-container">
    <app-service-card *ngFor="let svcwid of filteredServices" [svc]="svcwid"></app-service-card>
    <!-- <app-test-page *ngFor="let svcwid of filteredServices" [svc]="svcwid"></app-test-page> -->
</div>
