<div class="offer-card">
  <div class="carousel">
    <button (click)="prevImage()" class="prev">&#10094;</button>
    <button (click)="nextImage()" class="next">&#10095;</button>
    <div class="image-container">
    <img [src]="offer['Image' + currentImageIndex]" alt="Image {{ currentImageIndex }}">
  </div>
  </div>
  <div class="offer-details">
    <h3>{{ offer.Title }}</h3><span class="sponsor-icon" *ngIf="offer.Community_Sponsor">★</span>
    <p><strong>Compania:</strong> {{ offer.Company_Name }}</p>
    <p><strong>Persona de contact:</strong> {{ offer.Contact_Name }}</p>
    <hr>
    <p><strong>Numar de Tel:</strong> {{ offer.Phone_Number }}</p>
    <p><strong>Locatie:</strong> {{ offer.Location }}</p>
    <p><strong>Descriiere:</strong>{{ offer.Description }}</p>
    <p><strong>Pret:</strong>{{ offer.Price}}</p>
    <p><strong>Tip de ofertā:</strong>{{ offer.OfferType }}</p>
    <p><strong>Creata pe data de:</strong> {{ offer.Date_Created | date: 'shortDate'}}</p>

    <p *ngIf="offer.Filled">Oferta a expirat</p>
    <p *ngIf="!offer.Filled">Oferta este valabilā</p>
    <button (click)="navigateToDetails()">View Details</button>
  </div>
  <!-- <div class="offers-footer" *ngIf="offer.Filled">
    <span class="featured">Expired</span>
  </div> -->

  <div class="offer-footer">
    <div class="social-icons">
      <div *ngIf="offer.Facebook"><a target="_blank" href='{{offer.Facebook }}'><img src='../../../assets/images/SVG/facebook-icon.svg'></a><br>
      Facebook</div>
   <div *ngIf="offer.Instagram"><a target="_blank" href='https://www.instagram.com/{{offer.Instagram }}'><img src='../../../assets/images/SVG/instagram-icon.svg'></a><br>
  Instagram</div>
   <div *ngIf="offer.Email"><a href='mailto:{{offer.Email }}'><img src='../../../assets/images/SVG/email-icon.svg'></a><br>
  Email</div>
   <div *ngIf="offer.Website"><a target="_blank" href='{{offer.Website }}'><img src='../../../assets/images/SVG/browser-icon.svg'></a><br>
  Website</div>
    </div>
  </div>
</div>
