.offer-card {
  background-color: #FAFAFA;
  width: 400px;
  min-height: 550px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  height: 800px;
  position: relative;
}

.offer-card:hover {
  transform: translateY(-5px);
}

.offer-carousel-container {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.carousel {
  width: 100%;
  position: relative;
}

.carousel-inner {
  overflow: hidden;
  border-radius: 8px;
  min-height: 300px;
}

.carousel-item {
  display: none;
  text-align: center;
}

.carousel-item.active {
  display: block;
}

.carousel-image {
  width: 400px;
  height: 300px;
  object-fit: cover;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  user-select: none;
}

.carousel-control.prev {
  left: 10px;
}

.carousel-control.next {
  right: 10px;
}

.offer-details {
  padding: 15px;
  text-align: left;
}

.offer-details h3 {
  margin-top: 0;
}

.offer-details p {
  margin: 5px 0;
}

.offer-footer {
  /* display: flex; */
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #666;
  font-size: .6rem;
  /* border: solid 1px black; */
}


.social-icons {
  display: flex;
  justify-content: space-around;
  width: 400px; /* Adjust as needed */
}

.social-icons a {
  color: #666;
  text-decoration: none;
}

.social-icons a:hover {
  color: #000; /* Adjust hover color as needed */
}

.sponsor-icon {
  font-size: 1.5rem;
  margin-right: 4px;
  color: gold;
}

.sponsor-text {
  font-size: 1rem;
  color: gold;
}
