<div class="event-details-container">
  <div class="event-header">
    <h1>{{ event?.Event_Name }}</h1>
    <div class="event-contact">
      <strong>Contact:</strong> {{ event?.Contact_Person_Name }}
    </div>
  </div>

  <div class="event-poster-container">
    <img [src]="event?.Poster_Image" alt="Event Poster" class="poster-image">
  </div>

  <div class="event-content">
    <div class="event-info">
      <div><label class="event-details-label">Nr Telefon:</label> {{ event?.Phone_Number | phoneNumber}}</div>
      <div><label class="event-details-label">Email:</label> {{ event?.Email }}</div>
      <div><label class="event-details-label">Pagina Web:</label> <span class="truncated-link" [innerHTML]="event?.Website | urlHelper"></span></div>
      <div><label class="event-details-label">Facebook:</label> <span [innerHTML]="event?.Facebook | urlHelper"></span></div>
      <div><label class="event-details-label">Instagram:</label> {{ event?.Instagram }}</div>
      <div><label class="event-details-label">Locatie:</label> {{ event?.Location }}</div>
      <div><label class="event-details-label">Data Evenimentului:</label> {{ event?.Event_Date }}</div>
      <div><label class="event-details-label">Ora:</label> {{ event?.Event_Time }}</div>
      <div><label class="event-details-label">Pret:</label> {{ event?.Price }}</div>
    </div>
    <div class="event-description">
      <strong>Detalii:</strong> {{ event?.Description }}
    </div>
    <div class="event-sponsor"  *ngIf="(isLoggedIn$ | async)">
      <strong>Sponsor:</strong> {{ event?.Community_Sponsor ? 'Yes' : 'No' }}
    </div>
    <div class="event-dates"  *ngIf="(isLoggedIn$ | async)">
      <strong>Created Date:</strong> {{ event?.Date_Created | date: 'shortDate' }}<br>
      <strong>Updated Date:</strong> {{ event?.Date_Updated | date: 'shortDate' }}
    </div>
  </div>
  <button class="editButton" *ngIf="(isLoggedIn$ | async)" (click)="navigateToEditEvent(event?.id!)">Edit</button> &nbsp;
  <button (click)="goBack()">Inapoi la Evenimente</button>
</div>
