<div class="offer-management-container">
  <h2>Manage Offers</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Title/<br>Company Name</th>
        <th>Contact Name/<br>Phone Number/<br>Email</th>
        <th>Description</th>
        <th>Price</th>
        <th>Location</th>
        <th>Online Presence</th>
        <th>Date Created/<br>Date Updated</th>
        <th>Approved</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let offer of offers">
        <td><a href="/offers/{{offer.id}}">{{offer.id}}</a></td>
        <td>{{ offer.Title }}<br>{{ offer.Company_Name }}</td>
        <td>{{ offer.Contact_Name }}<br>{{ offer.Phone_Number }}<br><a href="mailto:{{ offer.Email }}">{{ offer.Email }}</a></td>
        <td>{{ offer.Description }}</td>
        <td>{{ offer.Price }}</td>
        <td>{{ offer.Location }}</td>
        <td>{{ offer.Website }}<br>{{ offer.Facebook }}<br>{{ offer.Instagram }}</td>
        <td>{{ offer.Date_Created | date: 'MM/dd/yyyy' }}/ {{ offer.Date_Updated | date: 'MM/dd/yyyy' }}</td>
        <td>
          <input type="checkbox" [checked]="offer.Approved" (change)="toggleApproval(offer)" />
        </td>
        <td><button class="editButton"  (click)="navigateToEditOferte(offer.id)">Edit</button></td>
        <td><button class="editButton"  (click)="deleteOferta(offer.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
