<div class="offer-management-container">
  <h2>Manage Offers</h2>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Company Name</th>
        <th>Contact Name</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Description</th>
        <th>Price</th>
        <th>Location</th>
        <th>Website</th>
        <th>Facebook</th>
        <th>Instagram</th>
        <th>Date Created</th>
        <th>Approved</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let offer of offers">
        <td>{{ offer.Title }}</td>
        <td>{{ offer.Company_Name }}</td>
        <td>{{ offer.Contact_Name }}</td>
        <td>{{ offer.Phone_Number }}</td>
        <td>{{ offer.Email }}</td>
        <td>{{ offer.Description }}</td>
        <td>{{ offer.Price }}</td>
        <td>{{ offer.Location }}</td>
        <td>{{ offer.Website }}</td>
        <td>{{ offer.Facebook }}</td>
        <td>{{ offer.Instagram }}</td>
        <td>{{ offer.Date_Created }}</td>
        <td>
          <input type="checkbox" [checked]="offer.Approved" (change)="toggleApproval(offer)" />
        </td>
      </tr>
    </tbody>
  </table>
</div>
