<div class="service-card" [ngClass]="{'mobile': isMobile}">
  <div class="service-card-image-container">
    <img [src]="svc.Image" alt="{{ svc.Name }}" class="service-card-image">
  </div>
  <div class="service-card-content">
    <div class="card-header">
      <div class="card-title">{{ svc.Name }}<span class="sponsor-icon" *ngIf="svc.Community_Sponsor">★</span></div>
      <div class="card-subtitle service_type">{{ svc.Service_Type.toLocaleUpperCase() }}</div>
      <div class="card-subtitle contact_info">{{ svc.Phone_Number | phoneNumber}}</div>
    </div>
    <div class="card-description" *ngIf="!isMobile">{{ svc.Description }}</div>
    <div class="card-footer">
      <div class="social-icons">
        <div *ngIf="svc.Facebook"><a target="_blank" href="{{ svc.Facebook }}"><img src="../../../assets/images/SVG/facebook-icon.svg"></a></div>
        <div *ngIf="svc.Instagram"><div [innerHTML]="svc.Instagram | instagramLink : svgInstagramIcon"></div></div>
        <div *ngIf="svc.Website"><a target="_blank" href="{{ svc.Website }}"><img src="../../../assets/images/SVG/browser-icon.svg"></a></div>
      </div>
      <div class="card-buttons">
        <button *ngIf="svc.Email" class="btn message" (click)="sendEmail(svc.Email)">Email</button>
        <button class="btn connect" (click)="viewDetails()">Detalii</button>
      </div>
    </div>
    <div class="card-description mobile-description" *ngIf="isMobile">{{ svc.Description }}</div>
  </div>
</div>
