/* src/app/shared/event-card/event-card.component.css */
.card {
  background-color: #FAFAFA;
  width: 400px;
  min-height: 550px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  height: 1000px;
  position: relative;
}

.card:hover {
  /* transform: translateY(-5px); */
  transform: scale(1.02);
}

/* .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 40px;
  width: calc(25% - 32px);
  box-sizing: border-box;
  position: relative;
  min-width: 400px;
} */

.card-image img {
  width: 100%;
  height: auto;
}

.card-details {
  padding: 16px;
  text-align: left;
}

.card-details h3 {
  margin-top: 0;
}

.card-details p {
  margin: 4px 0;
}

.card-details a {
  color: #007bff;
  text-decoration: none;
}

.card-details a:hover {
  text-decoration: underline;
}

.card-header {
  text-align: center;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.card-subtitle {
  font-size: 1rem;
  color: #666;
  margin-top: 4px;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: gold;
}

.sponsor-icon {
  font-size: 1.5rem;
  margin-right: 4px;
}

.sponsor-text {
  font-size: 1rem;
  color: gold;
}


.add-service-container {
  text-align: right;
  margin: 20px;
}
.card-expired{
  padding: 10px;
  text-align: center;
}
.expired{
  color: red;
}


.card-footer button {
  background-color: var(--button-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card-footer button:hover {
  background-color: #0056b3;
}

@media (max-width: 1024px) {
  .service-card {
    width: calc(50% - 32px);
    min-width: 350px;
  }
}

@media (max-width: 600px) {
  .service-card {
    width: calc(90% - 100px);
    min-width: 350px;
  }

  .services-control  {
    flex-direction: column;
}

  @media screen and (max-width: 960px) {
    .service-card {
      width: calc(90% - 100px);
      min-width: 350px;
    }

    .hero-overlay h1 {
      color: white;
      font-size: 2.5rem;
      text-align: center;
    }

    .overlay_subtitle h2 {
      color: white;
      font-size: 1.5rem;
      text-align: center;
    }
  }
}

