
<!-- <div class="card">
  <div class="card-image" *ngIf="event.Poster_Image">
    <img [src]="event.Poster_Image" alt="{{ event.Event_Name }}">
  </div>
  <div class="card-details">
    <div class="card-title">{{ event.Event_Name }}</div>
    <p><strong>Locatie:</strong> <br/>{{ event.Location }}</p>
    <p><strong>Data Evenimentului:</strong> {{ event.Event_Date | date: 'short' }}</p>
    <p><strong>Ora:</strong> {{ event.Event_Time }}</p>
    <p><strong>Pret:</strong> {{ event.Price }}</p>
    <p><strong>Persoana de contact:</strong> {{ event.Contact_Person_Name }} - {{ event.Phone_Number }}</p>
    <p><strong>Pagina Web:</strong> <a [href]="event.Website" target="_blank">{{ event.Website }}</a></p>
    <p *ngIf="event.Facebook" ><strong>Facebook:</strong> <a [href]="event.Facebook" target="_blank">{{ event.Facebook }}</a></p>
    <p *ngIf="event.Instagram" ><strong>Instagram:</strong> <a [href]="event.Instagram" target="_blank">{{ event.Instagram }}</a></p>
    <div>
      <strong> Detalii</strong>
    <div class="card-subtitle">{{ event.Description }}</div>
    <div class="card-expired" *ngIf="event.Expired">
      <span class="expired">Evenimentul a Expirat</span>
    </div>
  </div>
  </div>
  <div class="card-footer">
    <button (click)="navigateToDetails()">Detalii</button>
  </div>
</div> -->


<div class="event-card">
  <div class="event-image">
    <!-- Event Image -->
    <img [src]="event.Poster_Image" alt="{{ event.Event_Name }}">
    <!-- Calendar Icon -->
    <div class="calendar-icon">
      <img src="../../../../assets/images/SVG/calendar.svg" alt="Calendar Icon">
      <!-- Display Event Date -->
      <span class="event-date">{{ event.Event_Date | date: 'dd' }}</span>
    </div>
  </div>
  <div class="event-details">
    <!-- Event Date and Time -->
    <div class="event-date-time">
      <span class="date-time">{{ event.Event_Date | date: 'MM/dd/yyyy' }} | {{ event.Event_Time }}</span>
    </div>
    <!-- Event Description -->
    <div class="event-description">
      {{ event.Description }}
    </div>
    <!-- Contact Name -->
    <div class="contact-name">
      {{ event.Contact_Person_Name }}
    </div>
    <!-- Contact Email or Phone Number -->
    <div class="contact-info">
      {{ event.Phone_Number | phoneNumber}}
    </div>

    <!-- Button to Event Details -->

  </div>
  <div class="card-footer">
    <div class="card-expired" *ngIf="event.Expired">
      <span class="expired">Evenimentul a Expirat</span>
    </div>
    <button (click)="navigateToDetails()">Detalii</button>
  </div>
</div>
