
<div class="hero-section">
  <div class="hero-overlay">
    <h1>Lista de Servicii</h1>
  </div>
  <div class="overlay_subtitle">
    <h2>Adaugati serviciile oferite pentru membrii comunității</h2>
  </div>
</div>

<div class="form-container">
  <form [formGroup]="serviceForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label class="required" for="Service_Type_ID">Categoria de serviciului:</label>
      <select id="Service_Type_ID" formControlName="Service_Type_ID" required>
        <option *ngFor="let type of serviceTypes" [value]="type.id">{{ type.Name }}</option>
      </select>
    </div>
    <div class="form-group">
      <label class="required" for="Name">Nume:</label>
      <input id="Name" placeholder="Ion Dumitrescu" formControlName="Name" required>
    </div>

    <div class="form-group">
      <label for="Email">Adresa Email:</label>
      <input id="Email" type="Email" placeholder="info@website.com" formControlName="Email">
    </div>

    <div class="form-group">
      <label for="Phone_Number">Numar de telefon:</label>
      <input id="Phone_Number" type="text" placeholder="(425) 444-5555" formControlName="Phone_Number">
    </div>

    <div class="form-group">
      <label for="Website">Pagina Web:</label>
      <input id="Website" type="text" placeholder="https://www.website.com" formControlName="Website" >
    </div>

    <div class="form-group">
      <label for="Facebook">Pagina Facebook:</label>
      <input id="Facebook" type="text" placeholder="https://www.facebook.com/yourname" formControlName="Facebook" >
    </div>

    <div class="form-group">
      <label for="Instagram">Instagram:(&#64;cont_de_instagram)</label>
      <input id="Instagram" type="text" placeholder="@instaHandle.." formControlName="Instagram" >
    </div>

    <div class="form-group">
      <label  class="required" for="Description">Descriere a serviciile oferite:</label>
      <textarea id="Description" formControlName="Description" ></textarea>
    </div>


    <div class="form-group">
      <label for="Hours">Orele de contactare:</label>
      <div formGroupName="Hours">
        <div class="day-container">
          <div *ngFor="let day of ['Luni', 'Marti', 'Miercuri', 'Joi', 'Vineri', 'Sambata', 'Duminica']" [formGroupName]="day" class="day">
            <h2>{{day}}</h2>
            <label for="{{day}}-open">Open:</label>
            <select formControlName="open">
              <option *ngFor="let hour of hoursOptions" [value]="hour">{{hour}}</option>
            </select>
            <label for="{{day}}-close">Close:</label>
            <select formControlName="close">
              <option *ngFor="let hour of hoursOptions" [value]="hour">{{hour}}</option>
            </select>
          </div>
        </div>
      </div>

</div>

    <div class="form-group">
      <label for="Image">Imagine:</label>
      <div class="service-card-image-container">
        <img [src]="oldImage"  class="service-card-image">
      </div>
      <input type="file" formControlName="Image" (change)="onFileSelected($event)">
    </div>

    <button type="submit" [disabled]="serviceForm.invalid">Salveaza Serviciu</button>
    <button type="button" (click)="goBack()">Cancel</button>
  </form>
</div>
