
<div class="hero-section">
  <div class="hero-overlay">
    <h1>Lista de Servicii</h1>
  </div>
  <div class="overlay_subtitle">
    <h2>Adaugati serviciile oferite pentru membrii comunității</h2>
  </div>
</div>

<div class="form-container">
  <form [formGroup]="serviceForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label class="required" for="Name">Nume:</label>
      <input id="Name" formControlName="Name" required>
    </div>

    <div class="form-group">
      <label class="required" for="Email">Adresa Email:</label>
      <input id="Email" type="Email" formControlName="Email">
    </div>

    <div class="form-group">
      <label class="required" for="Phone_Number">Numar de telefon:</label>
      <input id="Phone_Number" formControlName="Phone_Number">
    </div>

    <div class="form-group">
      <label for="Website">Pagina Web:</label>
      <input id="Website" formControlName="Website" >
    </div>


    <div class="form-group">
      <label for="Facebook">Pagina Facebook:</label>
      <input id="Facebook" formControlName="Facebook" >
    </div>

    <div class="form-group">
      <label for="Instagram">Instagram:</label>
      <input id="Instagram" formControlName="Instagram" >
    </div>

    <div class="form-group">
      <label class="required" for="Description">Descriere a serviciile oferite:</label>
      <textarea id="Description" formControlName="Description" ></textarea>
    </div>

    <div class="form-group">
      <label for="Image">Imagine:</label>
      <div class="service-card-image-container">
        <img [src]="oldImage"  class="service-card-image">
      </div>
      <input type="file" formControlName="Image" (change)="onFileSelected($event)">
    </div>

    <div class="form-group">
      <label class="required" for="Service_Type">Categoria de serviciului:</label>
      <select id="Service_Type" formControlName="Service_Type" required>
        <option *ngFor="let type of serviceTypes" [value]="type">{{ type }}</option>
      </select>
    </div>

    <button type="submit" [disabled]="serviceForm.invalid">Salvati Serviciu</button>
    <div style="display: none;">
      <div><label for="Approved">Approved:</label>
        <input id="Approved" formControlName="Approved" >
      </div>

    </div>
  </form>
</div>
