<div class="form-container">
  <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Numele Evenimentului:</label>
      <input id="name" formControlName="Name" type="text" />
    </div>
    <div class="form-group">
      <label for="contact">Persoana de contact:</label>
      <input id="contact" formControlName="Contact" type="text" />
    </div>
    <div class="form-group">
      <label for="phone">Numar de Telefon:</label>
      <input id="phone" formControlName="Phone_Number" type="text" />
    </div>
    <div class="form-group">
      <label for="description">Descriere:</label>
      <textarea id="description" formControlName="Description"></textarea>
    </div>
    <div class="form-group">
      <label for="location">Locatie:</label>
      <input id="location" formControlName="Location" type="text" />
    </div>
    <div class="form-group">
      <label for="event_date">Data:</label>
      <input id="event_date" formControlName="Event_Date" type="date" />
    </div>
    <div class="form-group">
      <label for="time">Ora:</label>
      <input id="time" formControlName="Time" type="time" />
    </div>
    <div class="form-group">
      <label for="price">Pret:</label>
      <input id="price" formControlName="Price" type="text" />
    </div>
    <div class="form-group">
      <label for="poster_image">Imagine Poster:</label>
      <input id="poster_image" formControlName="Poster_Image" type="text" />
    </div>
    <div class="form-group">
      <label for="website">Website:</label>
      <input id="website" formControlName="Website" type="text" placeholder="Pagina de Web" />
    </div>
    <div class="form-group">
      <label  for="Facebook">Adresa de Facebook:</label>
      <input type="text" id="Facebook" formControlName="Facebook" placeholder="Adresa de Facebook">
    </div>
    <div class="form-group">
      <label  for="Instagram">Instagram:(&#64;cont_de_instagram)</label>
      <input type="text" id="Instagram" formControlName="Instagram" placeholder="@instaHandle..">
    </div>
    <button type="submit">Salveaza Evenimentul</button>
    <button type="button" (click)="goBack()">Cancel</button>
  </form>
</div>
