.offer-details-container {
  padding: 16px;
  margin: 100px auto;
  max-width: 1024px;
  background-color: #f9f9f9; /* Offwhite background */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sponsor-icon {
  color: gold;
  margin-right: 10px;
  font-size: 2rem;
}

.offer-carousel-container {
  display: flex;
  flex-direction: column;
}

.carousel {
  position: relative;
  width: 100%;
}

.carousel-inner {
  display: flex;
  overflow: hidden;
}

.carousel-item {
  flex: 0 0 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  display: none;
}

.carousel-item.active {
  opacity: 1;
  display: block;
}

.carousel-item img {
  width: 100%;
  display: block;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  cursor: pointer;
  color:var(--button-color);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.carousel-thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  padding-top: 5px;
  /* padding-top: 10px; */
}

.carousel-thumbnails img {
  cursor: pointer;
  border: 2px solid transparent;
  width: 20%;

}

.carousel-thumbnails img.active {
  border-color: var(--button-color);
}

.offer-content {
  padding: 20px 0;
}

.offer-title {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--button-color);
}

.offer-info{
  display: block;
  justify-content: space-between;
  font-size: .8rem;
}
.offer-price {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.offer-overview {
  margin-bottom: 20px;
}

.offer-overview h2 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.offer-overview p {
  font-size: 1rem;
  margin: 0;
}

.offer-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filled-button,
.outline-button {
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid var(--button-color);
  font-size: 1rem;
}

.filled-button {
  background-color: var(--button-color);
  color: #fff;
}

.outline-button {
  background-color: transparent;
  color: var(--button-color);
}
.offer-social{
  width: 100%;
  display: flex;
  justify-content: center;
}

.social-icon{
  background-color: transparent; /* Offwhite background */
  border-radius: 50%; /* Rounded corners */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  width: 40px;
  height: 40px;
  border: solid 2px var(--button-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

/* Media Queries for Responsive Design */
@media (min-width: 600px) {
  .offer-carousel-container {
    flex-direction: row;
  }

  .carousel-thumbnails img {
    width: 10%;
  }

  .offer-buttons {
    flex-direction: row;
    gap: 10px;
  }
}

@media (min-width: 768px) {
  .offer-title {
    font-size: 2.5rem;
  }

  .offer-price {
    font-size: 2rem;
  }

  .offer-overview h2 {
    font-size: 1.5rem;
  }

  .offer-overview p {
    font-size: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .offer-carousel-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .carousel {
    width: 90%;
  }

  .carousel-thumbnails {
    width: 7%;
    /* padding-left: 10px; */
    flex-direction: column;
    /* gap: 10px; */
  }

  .carousel-thumbnails img {
    width: 100%;
  }

  .offer-content {
    padding: 20px 0;
  }

  .offer-buttons {
    flex-direction: row;
    gap: 10px;
  }

  .offer-info{
    display: flex;
    justify-content: space-between;
    font-size: .8rem;
  }

  .offer-social{
    width: 100%;
    display: flex;
    justify-content: right;
  }
}
