.offer-details-container {
  max-width: 1024px;
  margin: auto;
  padding: 10px;
}

.offer-carousel-container {
  display: flex;
  flex-direction: column;
}

.carousel {
  position: relative;
  width: 100%;
}

.carousel-inner {
  display: flex;
  overflow: hidden;
}

.carousel-item {
  flex: 0 0 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  display: none;
}

.carousel-item.active {
  opacity: 1;
  display: block;
}

.carousel-item img {
  width: 100%;
  display: block;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  cursor: pointer;
  color: #000;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.carousel-thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding-top: 10px;
}

.carousel-thumbnails img {
  cursor: pointer;
  border: 2px solid transparent;
  width: 20%;
}

.carousel-thumbnails img.active {
  border-color: #000;
}

.offer-content {
  padding: 20px 0;
}

.offer-title {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.offer-price {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.offer-overview {
  margin-bottom: 20px;
}

.offer-overview h2 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.offer-overview p {
  font-size: 1rem;
  margin: 0;
}

.offer-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filled-button,
.outline-button {
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #000;
  font-size: 1rem;
}

.filled-button {
  background-color: #000;
  color: #fff;
}

.outline-button {
  background-color: transparent;
  color: #000;
}

/* Media Queries for Responsive Design */
@media (min-width: 600px) {
  .offer-carousel-container {
    flex-direction: row;
  }

  .carousel-thumbnails img {
    width: 10%;
  }

  .offer-buttons {
    flex-direction: row;
    gap: 10px;
  }
}

@media (min-width: 768px) {
  .offer-title {
    font-size: 2.5rem;
  }

  .offer-price {
    font-size: 2rem;
  }

  .offer-overview h2 {
    font-size: 1.5rem;
  }

  .offer-overview p {
    font-size: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .offer-carousel-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .carousel {
    width: 70%;
  }

  .carousel-thumbnails {
    width: 30%;
    padding-left: 10px;
    flex-direction: column;
    gap: 10px;
  }

  .carousel-thumbnails img {
    width: 100%;
  }

  .offer-content {
    padding: 20px 0;
  }

  .offer-buttons {
    flex-direction: row;
    gap: 10px;
  }
}
