<!-- src/app/add-event/add-event.component.html -->

<div class="form-container">
  <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label class="required" for="Name">Event Name:</label>
      <input id="Name" formControlName="Name" required>
    </div>
    <div class="form-group">
      <label for="Contact">Contatct Name:</label>
      <input id="Contact" formControlName="Contact" required>
    </div>

    <div class="form-group">
      <label class="required" for="Poster_Image">Poster Image:</label>
      <input id="Poster_Image" formControlName="Poster_Image" required>
    </div>

    <div class="form-group">
      <label for="Phone_Number">Phone Number:</label>
      <input id="Phone_Number" formControlName="Phone_Number" >
    </div>


    <div class="form-group">
      <label class="required" for="Event_date">Date:</label>
      <input id="Event_date" type="date" formControlName="Event_date" required>
    </div>

    <div class="form-group">
      <label class="required" for="Location">Location:</label>
      <input id="Location" formControlName="Location" required>
    </div>

    <div class="form-group">
      <label class="required" for="Description">Description:</label>
      <textarea id="Description" formControlName="Description" required></textarea>
    </div>
    <div class="form-group">
      <label class="required" for="Price">Price:</label>
      <input id="Price" formControlName="Price" required>
    </div>
    <div class="form-group">
      <label for="Website">Website:</label>
      <input id="Website" formControlName="Website" >
    </div>

    <button type="submit" [disabled]="eventForm.invalid">Add Event</button>
  </form>
</div>
