<div class="hero-section">
  <div class="hero-overlay">
    <h1>Locuri de munca</h1>
  </div>
  <div class="overlay_subtitle">
    <h2>Descoperiți locuri de munca oferite de membrii comunității</h2>
  </div>
</div>

<div class="add-job-container">
  <button (click)="navigateToAddJob()">Adaugati un loc de munca</button>
</div>

<div class="jobs">
  <h2>Locuri de munca</h2>
  <div class="job-list">
    <div *ngFor="let job of jobs" class="job-card">
      <div class="job-card-image">
        <img src="http://source.unsplash.com/800x600/?Caregiver" alt="{{ job.Title }}">
      </div>
      <div class="job-card-content">
        <h3>{{ job.Title }}</h3>
        <h4>{{ job.Company_Name }}</h4>
        <p>{{ job.Contact_Name }}</p>
        <hr>
        <p>{{ job.Location }}</p>
        <p>{{ job.Phone_Number }}</p>
        <p>{{ job.Email }}</p>
        <p>{{ job.Website }}</p>
        <p>{{ job.Job_Description }}</p>
        <div class="job-footer" *ngIf="job.Filled">
          <span class="featured">Expired</span>
        </div>
      </div>
    </div>
  </div>
</div>
