.container {
  text-align: center;
  /* padding: 60px 20px; */
}

.container h1 {
  font-size: 48px;
  margin-bottom: 20px;
  /* color: #333; */
}

.container p {
  font-size: 24px;
  color: var(--button-color);
 }/*
.hero-section {
  position: relative;
  height: 50vh;
  background-image: url('http://source.unsplash.com/800x600/?Seattle');
  background-image: url(../../../assets/images/Seattle-Romania.png);
  background-size: cover;
  background-position: 0 25%;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.hero-overlay h1 {
  color: white;
  font-size: 4rem;
  text-align: center;
}
 */
 /******************************************* HERO *********************************/

 .hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #f5f5f5;
  padding: 6rem 0 0rem 0;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  flex: 1;
  padding: 0 2rem;
}

.hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero-text p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.btn {
  background-color:var(--button-color);
  color: #fff;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
}

.hero-image {
  flex: 1;
}

.hero-image img {
  width: 100%;
  height: 100%;
  /* border-radius: 5px; */
  object-fit: cover;
}

.community-description {
  background-color:var(--button-color);
  color: #fff;
  padding: 2rem 0;
  text-align: center;
}

.community-description h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.community-description p {
  font-size: 1.2rem;
  margin: 0 auto;
  max-width: 800px;
  color: #f5f5f5;
}

/* Media Queries */
@media (max-width: 768px) {
  .hero {
    flex-direction: column; /* Stack hero section items vertically */
  }

  .hero-content {
    flex-direction: column; /* Stack hero content items vertically */
    text-align: center;
  }

  .hero-text {
    margin-bottom: 2rem; /* Add space between text and image on smaller screens */
  }

  .hero-image img {
    max-width: 100%; /* Ensure image doesn't exceed container width */
  }
}
 /******************************************* HERO *********************************/

.community-descriptions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 20px;
}

.description-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  width: 300px;
  text-align: center;
}

.description-card h2 {
  font-size: 1.5rem;
  color: var(--button-color);
  margin-bottom: 10px;
}

.description-card p {
  font-size: 1rem;
  color: var(--button-color);
}

.description-card-group{
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  width: 100%;
  text-align: center;
}


.resource-list {
  list-style-type: none;
  padding: 0;
}

.resource-item {
  margin: 10px 0;
}

.resource-item a {
  text-decoration: none;
  color: var(--button-color);
  font-size: 18px;
  transition: color 0.3s ease;
}

.resource-item a:hover {
  color: #0056b3;
}

a { color: inherit; }
/* Responsive layout for smaller screens */
@media (max-width: 1024px) {
  .service-card {
    width: calc(50% - 32px);
    min-width: 350px;
  }
}

@media (max-width: 600px) {
  .service-card {
    width: calc(90% - 100px);
    min-width: 350px;
  }

  @media screen and (max-width: 960px) {
    .service-card {
      width: calc(90% - 100px);
      min-width: 350px;
    }

    .hero-overlay h1 {
      color: white;
      font-size: 2.5rem;
      text-align: center;
    }

    .overlay_subtitle h2 {
      color: white;
      font-size: 1.5rem;
      text-align: center;
    }
  }
}
.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 20px;
}

.service-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 40px;
  width: calc(25% - 32px);
  box-sizing: border-box;
  position: relative;
  min-width: 400px;
}

.card-header {
  text-align: center;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.card-subtitle {
  font-size: 1rem;
  color: #666;
  margin-top: 4px;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: gold;
}


.card-image img{
  max-width: 300px;
}


.offers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 20px;
}

.offer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 20px;
}
.offer-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  max-width: 400px;
  height: 800px;
  /* border: solid 1px black; */
  position: relative;
  text-align: left;
}

.offer-card:hover {
  transform: translateY(-5px);
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.image-container img {
  width: 100%;
  flex-shrink: 0;
}

.image-container {
  width: 400px;
  height: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.offer-details {
  padding: 15px;
}

.offer-details h3 {
  margin-top: 0;
}

.offer-details p {
  margin: 5px 0;
}

.offer-footer {
  /* display: flex; */
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #666;
  font-size: .6rem;
  /* border: solid 1px black; */
}

.featured {
  color: #007bff;
  font-weight: bold;
}


.sharedContent-Section{
 padding: 10px 0;
}


.button-container {
  text-align: center;
}

.fb-button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  transition: background-color 0.3s;
}

.fb-button i {
  margin-right: 10px;
  font-size: 20px;
}

.fb-button:hover {
  background-color: var(--button-hover-bg-color);
}
