<div class="container">

    <section class="hero">
      <div class="container hero-content">
        <div class="hero-text">
          <h1>Bine ati venit in comunitatea <a href="https://www.facebook.com/groups/RomaniinSeattle">Romani in Seattle</a></h1>
          <p>Servictii, oferte si evenimente pentru persoanele care locuiesc in zona Seattle.</p>
          <a href="https://www.facebook.com/groups/RomaniinSeattle" class="btn">Join our Facebook Group</a>
        </div>
        <div class="hero-image">
          <img src="../../../assets/images/Seattle-Romania.png" alt="Seattle">
        </div>
      </div>
    </section>

    <section class="community-description">
      <div class="container">
        <h2>Despre communitatea noastra</h2>
        <p>Scopul al acestui website este de a beneficia Romani în Seattle, prin schimbul de informații utile si in același timp promovând Companiile Romanești din zona Seattle la  Comunitatea Romaneasca de aici. Acesta  a început pe facebook prin grupul "Romani în Seattle”  care acum conține peste 3700 de membri.</p>
      </div>
    </section>

    <div class="community-descriptions">
      <div class="description-card">
        <a href='/services/'><h2>Servicii</h2></a>
        <p>Sprijiniți-ne afacerile locale și descoperiți produse și servicii unice oferite de membrii comunității.</p>
      </div>
      <div class="description-card">
        <a href="/offers"><h2>Oportunități si Oferte</h2></a>
        <p>Implicați-vă și faceți o diferență prin voluntariat pentru diverse proiecte și inițiative comunitare.</p>
      </div>
      <div class="description-card">
        <a href="/events"><h2>Evenimente</h2></a>
        <p>Alăturați-vă nouă pentru o varietate de evenimente care reunesc comunitatea. De la festivaluri la ateliere, există ceva pentru toată lumea.</p>
      </div>
      <div class="description-card">
        <h2>Resurse</h2>
        <p>Accesați resurse și servicii valoroase oferite de comunitate atât pentru rezidenți, cât și pentru vizitatori.</p>
      </div>
    </div>

    <div class="sharedContent-Section ">
      <h1>Evenimente</h1>
      <!-- <div class="services-container">
        <app-event-card *ngFor="let event of events" [event]="event"></app-event-card>
      </div> -->

    </div>

    <div class="sharedContent-Section ">
    <h1>Oportunități si Oferte</h1>

    <div class="offer-list">
      <app-offer-card *ngFor="let offer of offers" [offer]="offer"></app-offer-card>
    </div>
    </div>
    <div class="sharedContent-Section ">
    <h1>Resurse</h1>
<section class="resource-consulate">
  <div class="community-descriptions">
    <div class="description-card">
      <h2>Consulatul României la New York</h2>
      <h3>CONSUL GENERAL: doamna Mihaela-Simona FLOREA</h3>
      <p>Adresă: 200 East 38th Street, New York, NY 10016</p>
      <a target="_blank" href="http://newyork.mae.ro/">http://newyork.mae.ro/</a>
    </div>
    <div class="description-card">
      <h2>Consulatul României la Chicago</h2>
      <h3>CONSUL GENERAL: </h3>
      <p>Adresă: 737 North Michigan Avenue, Suite 2300, Chicago, IL 60611</p>
      <a target="_blank" href="http://chicago.mae.ro/">http://chicago.mae.ro/</a>
    </div>
    <div class="description-card">
      <h2>Consulatul României la Los Angeles</h2>
      <h3>CONSUL GENERAL: doamna Lucia SAVA</h3>
      <p>Adresă: 11766 Wilshire Blvd. Suite 200, Los Angeles CA 90025</p>
      <a target="_blank" href="http://losangeles.mae.ro/">http://losangeles.mae.ro/</a>
    </div>
    <div class="description-card">
      <h2>Consulatul României la Miami</h2>
      <h3>CONSUL GENERAL: doamna Elena-GabrielA EREMIA</h3>
      <p>Adresă: 1101 Brickell Ave, suite N 600, Miami, FL 33131</p>
      <a target="_blank" href="http://miami.mae.ro/">http://miami.mae.ro/</a>
    </div>
  </div>
</section>
  </div>
    <section class="resources-section">
      <h2 class="section-header">Resurse utile pentru comunitate</h2>
      <ul class="resource-list">
        <li *ngFor="let link of resourceLinks" class="resource-item">
          <a href="{{ link.url }}" target="_blank">{{ link.name }}</a>
        </li>
      </ul>
    </section>

</div>
