<div class="container">
  <div class="hero-section">
    <div class="hero-overlay">
      <h1>Bine ati venit in comunitatea <a href="https://www.facebook.com/groups/RomaniinSeattle">Romani in Seattle</a></h1>
    </div>
  </div>
  <p>
    <div class = "community-descriptions">
      <div class="description-card-group">
        <h2>Discutii si evenimente pentru persoanele care locuiesc in zona Seattle.</h2>
        <p> Bun venit în grupul românilor din Seattle!
          Comunitatea noastra se bazeaza în primul rând pe respectul reciproc. Pentru armonia grupului si buna desfasurarea a activitatilor, va rugam sa respectati conduita recomandata.</p>
      </div>
    </div>
    <div class="community-descriptions">
      <div class="description-card">
        <h2>Evenimente</h2>
        <p>Alăturați-vă nouă pentru o varietate de evenimente care reunesc comunitatea. De la festivaluri la ateliere, există ceva pentru toată lumea.</p>
      </div>
      <div class="description-card">
        <h2>Servicii</h2>
        <p>Sprijiniți-ne afacerile locale și descoperiți produse și servicii unice oferite de membrii comunității.</p>
      </div>
      <div class="description-card">
        <h2>Oportunități</h2>
        <p>Implicați-vă și faceți o diferență prin voluntariat pentru diverse proiecte și inițiative comunitare.</p>
      </div>
      <div class="description-card">
        <h2>Resurse</h2>
        <p>Accesați resurse și servicii valoroase oferite de comunitate atât pentru rezidenți, cât și pentru vizitatori.</p>
      </div>
    </div>
<h1>Evenimente</h1>
    <div class="services-container">
      <div class="service-card" *ngFor="let event of events">
        <div class="card-header">
          <div class="card-title">{{ event.Name }}</div>
          <div class="card-image"><img src='{{ event.Poster_Image}}'></div>
          <div class="card-subtitle">{{ event.Location}}</div>
          <div class="card-subtitle">{{ event.Date}}</div>
          <div class="card-subtitle">{{ event.Price}}</div>
          <div class="card-subtitle">{{ event.Phone_Number}}</div>
          <div class="card-subtitle"><a href='mailto:{{ event.Contact }}'>{{ event.Contact }}</a></div>
          <div class="card-subtitle"><a href='{{ event.Website }}'>{{ event.Website }}</a></div>
          <div class="card-subtitle">{{ event.Description }}</div>
        </div>
        <div class="card-footer" *ngIf="event.Community_Sponsor">
          <span class="sponsor-text">Sponsor al Comunitatii</span>
          <span class="sponsor-icon">★</span>
        </div>
      </div>
    </div>

    <h1>Oferte</h1>

    <div class="offer-list">
      <app-offer-card *ngFor="let offer of offers" [offer]="offer"></app-offer-card>
    </div>

    <!-- <div class="offers">
      <div class="services-container">
        <div *ngFor="let offer of offers" class="offers-card">
          <div class="offers-card-image">
            <img src="http://source.unsplash.com/800x600/?Caregiver" alt="{{ offer.Title }}">
          </div>
          <div class="offers-card-content">
            <h3>{{ offer.Title }}</h3>
            <h4>{{ offer.Company_Name }}</h4>
            <p>{{ offer.Contact_Name }}</p>
            <hr>
            <p>{{ offer.Location }}</p>
            <p>{{ offer.Phone_Number }}</p>
            <p>{{ offer.Email }}</p>
            <p>{{ offer.Website }}</p>
            <p>{{ offer.Description }}</p>
            <p>{{ offer.Image1 }}</p>
            <p>{{ offer.Image2 }}</p>
            <p>{{ offer.Image3 }}</p>
            <p>{{ offer.Image4 }}</p>
            <p>{{ offer.Image5 }}</p>
            <div class="offers-footer" *ngIf="offer.Filled">
              <span class="featured">Expired</span>
            </div>
          </div>
        </div>
      </div>
    </div> -->

<section class="resource-consulate">
  <div class="community-descriptions">
    <div class="description-card">
      <h2>Consulatul României la New York</h2>
      <h3>CONSUL GENERAL: doamna Mihaela-Simona FLOREA</h3>
      <p>Adresă: 200 East 38th Street, New York, NY 10016</p>
      <a target="_blank" href="http://newyork.mae.ro/">http://newyork.mae.ro/</a>
    </div>
    <div class="description-card">
      <h2>Consulatul României la Chicago</h2>
      <h3>CONSUL GENERAL: </h3>
      <p>Adresă: 737 North Michigan Avenue, Suite 2300, Chicago, IL 60611</p>
      <a target="_blank" href="http://chicago.mae.ro/">http://chicago.mae.ro/</a>
    </div>
    <div class="description-card">
      <h2>Consulatul României la Los Angeles</h2>
      <h3>CONSUL GENERAL: doamna Lucia SAVA</h3>
      <p>Adresă: 11766 Wilshire Blvd. Suite 200, Los Angeles CA 90025</p>
      <a target="_blank" href="http://losangeles.mae.ro/">http://losangeles.mae.ro/</a>
    </div>
    <div class="description-card">
      <h2>Consulatul României la Miami</h2>
      <h3>CONSUL GENERAL: doamna Elena-GabrielA EREMIA</h3>
      <p>Adresă: 1101 Brickell Ave, suite N 600, Miami, FL 33131</p>
      <a target="_blank" href="http://miami.mae.ro/">http://miami.mae.ro/</a>
    </div>
  </div>
</section>

    <section class="resources-section">
      <h2 class="section-header">Resurse utile pentru comunitate</h2>
      <ul class="resource-list">
        <li *ngFor="let link of resourceLinks" class="resource-item">
          <a href="{{ link.url }}" target="_blank">{{ link.name }}</a>
        </li>
      </ul>
    </section>

</div>
