<div class="container">
  <div class="hero-section">
    <div class="hero-overlay">
      <h1>Bine ati venit in comunitatea <a href="https://www.facebook.com/groups/RomaniinSeattle">Romani in Seattle</a></h1>
    </div>
  </div>
  <p>
    <div class = "community-descriptions">
      <div class="description-card-group">
        <h2>Discutii si evenimente pentru persoanele care locuiesc in zona Seattle.</h2>
        <p> Bun venit în grupul românilor din Seattle!
          Comunitatea noastra se bazeaza în primul rând pe respectul reciproc. Pentru armonia grupului si buna desfasurarea a activitatilor, va rugam sa respectati conduita recomandata.</p>
      </div>
    </div>
    <div class="community-descriptions">
      <div class="description-card">
        <h2>Evenimente</h2>
        <p>Alăturați-vă nouă pentru o varietate de evenimente care reunesc comunitatea. De la festivaluri la ateliere, există ceva pentru toată lumea.</p>
      </div>
      <div class="description-card">
        <h2>Servicii</h2>
        <p>Sprijiniți-ne afacerile locale și descoperiți produse și servicii unice oferite de membrii comunității.</p>
      </div>
      <div class="description-card">
        <h2>Oportunități</h2>
        <p>Implicați-vă și faceți o diferență prin voluntariat pentru diverse proiecte și inițiative comunitare.</p>
      </div>
      <div class="description-card">
        <h2>Resurse</h2>
        <p>Accesați resurse și servicii valoroase oferite de comunitate atât pentru rezidenți, cât și pentru vizitatori.</p>
      </div>
    </div>

</div>
