<div class="service-details-container">
  <div class="service-header">

    <div class="forDebug">
      <h3><strong>Service Id:</strong> {{service.id}}</h3>
    </div>
  </div>
  <div class="service-content">
    <div class="service-image">
      <img [src]="service.Image" alt="{{ service.Name }}">
      <h1>{{ service.Name }}</h1>
    </div>
    <div class="service-details">
      <div><label class="service-details-label">Tip Serviciu:</label> {{ service.Service_Type }}</div>
      <div><label class="service-details-label">Nr Telefon:</label> {{ service.Phone_Number }}</div>
      <div><label class="service-details-label">Email:</label> {{ service.Email }}</div>
      <div><label class="service-details-label">Website:</label> <a [href]="service.Website" target="_blank">{{ service.Website }}</a></div>
      <div><label class="service-details-label">Facebook:</label> <a [href]="service.Facebook" target="_blank">{{ service.Facebook }}</a></div>
      <div><label class="service-details-label">Instagram:</label> <a [href]="service.Instagram" target="_blank">{{ service.Instagram }}</a></div>
      <div><label class="service-details-label">Sponsor:</label> {{ service.Community_Sponsor ? 'Yes' : 'No' }}</div>
      <div class="date-created"><label class="service-details-label ">Data:</label> {{ service.Date_Created | date:'shortDate' }}</div>
      <div class="service-description">
        <label class="service-details-label">Descriere:</label> {{ service.Description }}
      </div>
      <div>
        <label class="hours-label">Orele de contactare:</label>
        <ul>
          <li><strong class="dayLabel">Monday:</strong> {{ service.Hours.Luni?.open }} - {{ service.Hours.Luni?.close }}</li>
          <li><strong class="dayLabel">Tuesday:</strong> {{ service.Hours.Marti?.open }} - {{ service.Hours.Marti?.close }}</li>
          <li><strong class="dayLabel">Wednesday:</strong> {{ service.Hours.Miercuri?.open }} - {{ service.Hours.Miercuri?.close }}</li>
          <li><strong class="dayLabel">Thursday:</strong> {{ service.Hours.Joi?.open }} - {{ service.Hours.Joi?.close }}</li>
          <li><strong class="dayLabel">Friday:</strong> {{ service.Hours.Vineri?.open }} - {{ service.Hours.Vineri?.close }}</li>
          <li><strong class="dayLabel">Saturday:</strong> {{ service.Hours.Sambata?.open }} - {{ service.Hours.Sambata?.close }}</li>
          <li><strong class="dayLabel">Sunday:</strong> {{ service.Hours.Duminica?.open }} - {{ service.Hours.Duminica?.close }}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="service-actions">
    <button class="editButton" *ngIf="(isLoggedIn$ | async)" (click)="navigateToEditService(service.id)">Edit</button> &nbsp;
    <button (click)="goBack()">Inapoi la Servicii</button>
  </div>
</div>
