.forDebug{
  display: none;
}

.service-details-container {
  padding: 16px;
  margin: 100px auto;
  max-width: 1024px;
  background-color: #f9f9f9; /* Offwhite background */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.service-header {
  text-align: center;
  margin-bottom: 16px;
}

.service-header h1 {
  font-size: 2em;
}

.service-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-image img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;

}

.service-image h1{
  align-items: center;
  text-align: center;
}

.service-details {
  width: 100%;
  margin-top: 16px;
}

.service-details-label {
  font-weight: bold;
  font-size: 1.1em;
  color: var(--button-color);
  display: inline-block;
  width: 100px;
}

.service-details div,
.service-details a {
  margin: 4px 0;
  font-size: 0.9em;
}

.service-details ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.service-details ul li {
  font-size: 0.8em;
  margin: 4px 0;
}

.service-description {
  font-size: 1em;
  margin-top: 16px;
  border-top: 1px solid #ccc;
  padding-top: 16px;
}

.service-actions {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.service-actions button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: var(--button-color);
  color: #fff;
  cursor: pointer;
  font-size: 1em;
}

.service-actions button:hover {
  background-color: #0056b3;
}

.date-created{
  display: none;
}
.dayLabel{
  display: inline-block;
  width: 80px;
  color: var(--button-color);
}

.hours-label{
  display: inline-block;
  width: 100%;
  font-size: 1.2rem;
  color: var(--button-color);

}

@media (min-width: 768px) {
  .service-content {
    flex-direction: row;
    align-items: flex-start;
  }

  .service-image {
    margin-right: 16px;
  }

  .service-details {
    flex: 1;
  }
}

@media (max-width: 767px) {
  .service-header h1 {
    font-size: 1.5em;
  }

  .service-details {
    text-align: left;
  }

  .service-actions {
    flex-direction: column;
    align-items: center;
  }

  .service-actions button {
    margin: 4px 0;
  }
}
