<!-- src/app/add-event/add-event.component.html -->

<div class="form-container">
  <h2>
    Evenimetele adăugate prin această pagină sunt supuse aprobării administratorului înainte de a fi afișate în listă.</h2>
    <h3>Vă rugăm să introduceți cel puțin o metodă de contact.</h3>
  <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label class="required" for="Name">Titlu:</label>
      <input id="Name" formControlName="Name" required placeholder="Titlul Evenimentului">
    </div>
    <div class="form-group">
      <label for="Contact">Numele persoanei de contact:</label>
      <input id="Contact" formControlName="Contact" required placeholder="Numele persoanei de contact:">
    </div>

    <div class="form-group">
      <label class="required" for="Poster_Image">Imagine poster:</label>
      <input id="Poster_Image" formControlName="Poster_Image" required>
    </div>
    <div class="form-group">
      <label for="Phone_Number">Numar de Telefon:</label>
      <input id="Phone_Number" formControlName="Phone_Number" placeholder="425 555 5555">
    </div>

    <div class="form-group">
      <label class="required" for="Event_date">Data Evenimentului:</label>
      <input id="Event_date" type="date" formControlName="Event_date" required>
    </div>

    <div class="form-group">
      <label class="required" for="Location">Locatie:</label>
      <input id="Location" formControlName="Location" required placeholder="Locatie">
    </div>

    <div class="form-group">
      <label class="required" for="Description">Descriere:</label>
      <textarea id="Description" formControlName="Description" required placeholder="Detalii"></textarea>
    </div>
    <div class="form-group">
      <label class="required" for="Price">Pret:</label>
      <input id="Price" formControlName="Price" required placeholder="5">
    </div>
    <div class="form-group">
      <label for="Website">Website:</label>
      <input id="Website" formControlName="Website" placeholder="Pagina de Web">
    </div>

    <div class="form-group">
      <label  for="Facebook">Adresa de Facebook:</label>
      <input type="text" id="Facebook" formControlName="Facebook" placeholder="Adresa de Facebook">
    </div>
    <div class="form-group">
      <label  for="Instagram">Instagram:(&#64;cont_de_instagram)</label>
      <input type="text" id="Instagram" formControlName="Instagram" placeholder="@instaHandle..">
    </div>

    <button type="submit" [disabled]="eventForm.invalid">Adauga Eveniment</button>
  </form>
</div>
