<!-- src/app/add-event/add-event.component.html -->

<div class="form-container">
  <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label class="required" for="Name">Titlu:</label>
      <input id="Name" formControlName="Name" required>
    </div>
    <div class="form-group">
      <label for="Contact">Persoana de contact:</label>
      <input id="Contact" formControlName="Contact" required>
    </div>

    <div class="form-group">
      <label class="required" for="Poster_Image">Imagine poster:</label>
      <input id="Poster_Image" formControlName="Poster_Image" required>
    </div>

    <div class="form-group">
      <label for="Phone_Number">Numar de Telefon:</label>
      <input id="Phone_Number" formControlName="Phone_Number" >
    </div>


    <div class="form-group">
      <label class="required" for="Event_date">Data Evenimentului:</label>
      <input id="Event_date" type="date" formControlName="Event_date" required>
    </div>

    <div class="form-group">
      <label class="required" for="Location">Locatie:</label>
      <input id="Location" formControlName="Location" required>
    </div>

    <div class="form-group">
      <label class="required" for="Description">Descriere:</label>
      <textarea id="Description" formControlName="Description" required></textarea>
    </div>
    <div class="form-group">
      <label class="required" for="Price">Pret:</label>
      <input id="Price" formControlName="Price" required>
    </div>
    <div class="form-group">
      <label for="Website">Website:</label>
      <input id="Website" formControlName="Website" >
    </div>

    <button type="submit" [disabled]="eventForm.invalid">Adauga Eveniment</button>
  </form>
</div>
