rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
       allow read, write: if false;
    }
     match /Events/{document} {
      allow read, write: if true;
    }
     match /ListOfServices/{document} {
      allow read, write: if true;
    }
     match /OfferTypes/{document} {
      allow read, write: if true;
    }
    match /Offers/{document} {
      allow read, write: if true;
    }
     match /Services/{document} {
      allow read, write: if true;
    }
     match /analytics/{document} {
      allow read, write: if true;
    }

  }
}
service firebase.storage {
  match /b/{bucket}/o {
    // Allow anyone to upload files
    match /{allPaths=**} {
      allow write;
      allow read;
    }
    match /offers/{document} {
      allow read, write: if true;
    }
    match /serviceImages/{document} {
      allow read, write: if true;
    }
  }
}


