rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Allow anyone to upload files
    match /{allPaths=**} {
      allow write;
      allow read;
    }
    match /offers/{document} {
      allow read, write: if true;
    }
    match /serviceImages/{document} {
      allow read, write: if true;
    }
  }
}
